{% extends 'chat/base.html' %}
{% load static custom_filters %}
{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="{% static 'css/slideup.css' %}">
<style>
body{ background-color:#EDEBE2 }
.product-image { width: 100% !important; max-width: 150px !important; min-height: 150px !important; max-height: 200px !important; object-fit: contain !important; display: block; margin: auto; }
.card-body{ background-color: #F3EBD098; }
.wishlist-button { background: transparent; border: 2px solid #ff4d4d; cursor: pointer; font-size: 14px; color: #ff4d4d; border-radius: 50%; width: 34px; height: 34px; display: flex; align-items: center; justify-content: center; margin-top: 5px; }
.wishlist-button:hover { background: rgba(255,77,77,0.08); }
.wishlist-button.in-wishlist { background: transparent; border-color: #ff4d4d; color: #ff4d4d; }
.wishlist-button.in-wishlist i{ color: #ff4d4d; }
.bi-heart-fill { fill: currentColor; }
.btn-buy { background-color: #3EB489 !important; border-color: #3EB489 !important; color: #000 !important; }
.btn-buy:hover { background-color: #44FFBB !important; border-color: #44FFBB !important; color: #000 !important; }
.availability { display: inline-block; margin-bottom: 5px; }
/* Sticky left column and scrollable right column */
.shop-left { align-self: flex-start; position: sticky; top: 100px; }
.shop-right { max-height: calc(100vh - 140px); overflow-y: auto; padding-right: 8px; }
.shop-right { -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */ }
.shop-right::-webkit-scrollbar { width: 0; height: 0; }
</style>
<!-- section-->
      <main>
         <!-- section -->
         <section class="mb-lg-14 mb-8 mt-8 slide-up">
            <div class="container">
               <!-- row -->
               <div class="row">
                  <div class="col-12 col-lg-3 col-md-4 mb-4 mb-md-0 shop-left">
                     <div class="d-flex flex-column">
                        <div>
                           <!-- img -->
                           <!-- img -->
                           <img src="{{shop.business_image_url}}" alt="" class="rounded-circle icon-shape icon-xxl" />
                        </div>
                        <!-- heading -->
                        <div class="mt-4" style="font-family: 'Arial', sans-serif;">
                           <h1 class="mb-1 h4">{{shop.business_name}}</h1>
                           <div class="small text-muted">
                              <span>{{shop.business_description}}</span> <br>
                              <span>Contact #: {{ shop.business_contact_number }}</span>
                              <p>Address: {{ shop.business_address }}</p>
                           </div>
                           <div>
                              <span>
                                 <a href="{% url 'chat:chat_with' shop.user.id %}"><p>Message seller</p></a>
                              </span>
                           </div>
                        </div>
                     </div>
                     <hr />
                     <!-- nav -->
                     <ul class="nav flex-column nav-pills nav-pills-dark">
                        <!-- nav item -->
                        <li class="nav-item" style="font-family: 'Arial', sans-serif;">
                           <a class="nav-link active" aria-current="page" href="#">
                              <i class="feather-icon icon-shopping-bag me-2"></i>
                              Products available
                           </a>
                        </li>
                        <ul class="nav flex-column nav-links">
                           <!-- nav item -->
                           {% for product in product %}
                           <li class="nav-item" style="font-family: 'Arial', sans-serif;">
                              <a href="" class="nav-link">{{ product.product_name }}</a>
                           </li>
                           {% endfor %}
                        </ul>
                     </ul>
                     <hr />
                  </div>
                  <div class="col-12 col-lg-9 col-md-8 shop-right">
                     <div class="mb-8 bg-light d-lg-flex justify-content-lg-between rounded">
                        <div class="align-self-center p-8">
                           <div class="mb-3" style="font-family: 'Arial', sans-serif;">
                              <h5 class="mb-0 fw-bold">{{shop.business_name}}</h5>
                              <p class="mb-0 text-muted">{{shop.business_description}}</p>
                           </div>
                        </div>
                        <div class="py-4">
                           <!-- img -->
                           <img src="{% static 'images/svg-graphics/store-graphics.svg' %}" alt="" class="img-fluid" />
                        </div>
                     </div>

                     <div class="d-md-flex justify-content-between mb-3 align-items-center">
                        <div style="font-family: 'Arial', sans-serif;">
                           <p class="mb-3 mb-md-0">{{total_product}} Products found</p>
                        </div>
                     </div>
                     <div class="row g-3 row-cols-lg-4 row-cols-2 row-cols-md-3">
                        {% for products in product %}
                        <div class="col">
                           <div class="card card-product">
                              <div class="card-body">
                                 <div class="text-center position-relative">
                                    <div class="position-absolute top-0 start-0" style="font-family: 'Arial', sans-serif;">
                                       {% if products.product_stock >= 1 %}
                                          <small class="text-white" style="background-color: #44FFBB; border-radius: 5px; padding: 2px;">available</small>
                                       {% else %}
                                          <small>unavailable</small>
                                       {% endif %}
                                       <form action="{% url 'products:add_to_wishlist' products.id %}" method="POST">
                                          {% csrf_token %}
                                          {% if products|in_wishlist:request.user %}
                                             <button class="wishlist-button in-wishlist" title="Remove from wishlist">
                                                <i class="bi bi-heart-fill"></i>
                                             </button>
                                          {% else %}
                                             <button class="wishlist-button" title="Add to wishlist">
                                                <i class="bi bi-heart"></i>
                                             </button>
                                          {% endif %}
                                       </form>
                                    </div>
                                    <a href="{% url 'products:view_product' products.id %}">
                                       <img src="{{products.product_image_url}}" alt="Grocery Ecommerce Template" class="mb-3 img-fluid product-image" />
                                    </a>
                                 </div>
                                 <div class="text-small mb-1" style="font-family: 'Arial', sans-serif;">
                                    <a href="#!" class="text-decoration-none text-muted"><small>Category: {{products.product_category|title}}</small></a>
                                 </div>
                                 <h2 class="fs-6" style="font-family: 'Arial', sans-serif;"><a href="pages/shop-single.html" class="text-inherit text-decoration-none">{{products.product_name|title}}</a></h2>
                                 <div class="d-flex justify-content-between align-items-center mt-3" style="font-family: 'Arial', sans-serif;">
                                    <div>
                                       <span class="text-dark">₱{{products.product_price}} Per {{products.product_measurement|title}}</span>
                                    </div>
                                    <div>
                                       {% if not request.user.profile.street or not request.user.profile.municipality or not request.user.profile.postal_code %}
                                          <div>
                                             <form action="{% url 'products:order_details' products.id %}" method="POST">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-buy text-dark" disabled><h6 class="text-secondary">Buy</h6></button>
                                             </form>
                                          </div>
                                       {% else %}
                                          <div>
                                             <form action="{% url 'products:order_details' products.id %}" method="POST">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-buy text-dark by-button"><h6>Buy</h6></button>
                                             </form>
                                          </div>
                                       {% endif %}
                                    </div>
                                 </div>
                                 {% if not request.user.profile.street or not request.user.profile.municipality or not request.user.profile.postal_code %}
                                    <p style="color: red; font-size: 0.6em;">⚠️ Please complete your address in your <a href="{% url 'chat:profile_detail' %}">Profile</a> to buy this product.</p>
                                 {% endif %}   
                              </div>
                           </div>
                           </a>
                        </div>
                        {% endfor %}
                     </div>
                  </div>
               </div>
            </div>
         </section>
      </main>
<script src="{% static 'js/slideup.js' %}"></script>
{% endblock %}

