
    .container {
        min-height: 60vh;
    }

    body{
        background-color: #EDEBE2;
    }
       /* Custom buy button colors */
   .btn-buy {
      background-color: #3EB489 !important;
      border-color: #3EB489 !important;
      color: #000 !important; 
      margin-top: 10px;
      justify-content: center;  
      align-items: center;
   }
   .btn-buy:hover {
      background-color: #44FFBB !important;
      border-color: #44FFBB !important;
      color: #000 !important;
   }
    .card {
        background: #f8f9fa;
        border-radius: 10px; 
        margin-bottom: 30px;
    }
    form input, form textarea, form select {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 14px;
    } 
    form textarea {
        height: 80px; /* Adjust the height */
        resize: vertical; /* Allows manual resizing */
    }
    form input:focus, form textarea:focus, form select:focus {
        border-color: #007bff;                                               
        box-shadow: 0px 0px 3px rgba(0, 123, 255, 0.5);
    }
    .btn-sm {
        font-size: 14px;
        padding: 8px;
    }
