.sidebar {
    height: 100vh;
    background-color: #f8f9fa;
    padding: 15px;
}
.sidebar a {
    display: block;
    padding: 10px;
    margin: 5px 0;
    text-decoration: none;
    color: #333;
    border-radius: 5px;
}
.sidebar a.active, .sidebar a:hover  {
    background-color: #28a745;
    color: white;
}
.user-profile{
    width: 100px;
    height: 100px; 
    border-radius: 60px;
}

.side-outline{
    outline: 1px solid #c4c4c4; /* Black outline with 2px thickness */
    outline-offset: 2px;     /* Space between the outline and the element */
    padding: 10px;
    border-radius: 5px;
}
.logout_button:hover{
    background-color: #28a745;
}
